<div class="alert alert-info-light" style="margin-bottom:10px;">
    <b class="text-red">温馨提示: </b><br>
    1. 当前商品总概率为: <i id="odds">0</i>, 总的概率不能超过1 <br>
    2. 每个分类下必须设置一个未中奖的商品 <br>
    3. 显示概率为九宫格随机显示的概率, 实际抽奖概率为后台设置的概率, 商品需设置为中奖项, 未中奖的那个设置未非奖项 <br>
</div>
<div class="panel panel-default panel-intro">
    
    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="status">
            <li class="{:$Think.get.status === null ? 'active' : ''}"><a href="#t-all" data-value="" data-toggle="tab">{:__('All')}</a></li>
            {foreach name="statusList" item="vo"}
            <li class="{:$Think.get.status === (string)$key ? 'active' : ''}"><a href="#t-{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>


    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('game/goodscate/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('game/goodscate/edit')?'':'hide'}" title="{:__('Edit')}" ><i class="fa fa-pencil"></i> {:__('Edit')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('game/goodscate/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>
                        

                        <div class="dropdown btn-group {:$auth->check('game/goodscate/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                {foreach name="statusList" item="vo"}
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:" data-params="status={$key}">{:__('Set status to ' . $key)}</a></li>
                                {/foreach}
                            </ul>
                        </div>

                        <div class="dropdown btn-group {:$auth->check('game/goodscate/multi')?'':'hide'}">
                            <a class="btn btn-info btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown">设为奖项</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                {foreach name="isWinList" item="vo"}
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:" data-params="is_win={$key}">{:__('Set is_win to ' . $key)}</a></li>
                                {/foreach}
                            </ul>
                        </div>

                        <a class="btn btn-success btn-recyclebin btn-dialog {:$auth->check('game/goodscate/recyclebin')?'':'hide'}" href="game/goodscate/recyclebin" title="{:__('Recycle bin')}"><i class="fa fa-recycle"></i> {:__('Recycle bin')}</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('game/goodscate/edit')}"
                           data-operate-del="{:$auth->check('game/goodscate/del')}"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
